{% extends 'base.html' %} {% load static %} 

{% block title %} Dağ İnşaat | Hakkımızda {% endblock%}

{% block content %}

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div
    class="breadcrumbs d-flex align-items-center"
    style="background-image: url('static/img/breadcrumbs-bg.jpg')"
  >
    <div
      class="container position-relative d-flex flex-column align-items-center"
      data-aos="fade"
    >
      <h2>Hakkımızda</h2>
      <ol>
        <li><a href="/">Ana Sayfa</a></li>
        <li>Hakkımızda</li>
      </ol>
    </div>
  </div>
  <!-- End Breadcrumbs -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row position-relative">
        <div
          class="col-lg-7 about-img"
          style="background-image: url(static/img/about.jpg)"
        ></div>

        <div class="col-lg-7">
          <h2>Kalite ve güvenle hayatınızı dönüştürüyoruz.</h2>
          <div class="our-story">
            <h4>since 1998</h4>
            <h3>DAĞ İNŞAAT</h3>
            <p>
              35 yıllık tecrübemiz ve 30'u aşkın projemizle, inşaat sektöründe
              güven ve kaliteyi temsil ediyoruz. Her projemiz, sadece bir yapı
              değil, aynı zamanda yaşam kalitesini artıran bir mekân oluşturur.
            </p>
            <ul>
              <li>
                <i class="bi bi-check-circle"></i>
                <span
                  >Yılların getirdiği tecrübeyle, her projemizde güven
                  oluşturuyoruz.
                </span>
              </li>
              <li>
                <i class="bi bi-check-circle"></i>
                <span
                  >Müşteri ihtiyaçlarına uygun, özgün tasarımlar üretiyoruz.
                </span>
              </li>
              <li>
                <i class="bi bi-check-circle"></i>
                <span
                  >Sürdürülebilir malzemeler ve enerji verimliliği ile çevreye
                  duyarlı, kaliteli yapılar inşa ediyoruz.
                </span>
              </li>
            </ul>
            <p>
              Müşteri memnuniyeti, işçilik kalitesi ve depreme dayanıklı
              yapılarımızla sektörde fark yaratıyoruz. Misyonumuz, yaşam
              kalitesini artırmak; vizyonumuz, geleceğe dayanıklı, estetik ve
              fonksiyonel mekânlar yaratmaktır.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Stats Counter Section ======= -->
  <section id="stats-counter" class="stats-counter section-bg">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="500"
                data-purecounter-duration="3"
                class="purecounter"
              ></span>
              <p>Mülk Sahibi</p>
            </div>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-building color-orange flex-shrink-0"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="30"
                data-purecounter-duration="3"
                class="purecounter"
              ></span>
              <p>Tamamlanmış Proje</p>
            </div>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-rulers color-green flex-shrink-0"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="48000"
                data-purecounter-duration="3"
                class="purecounter"
              ></span>
              <p>Toplam İnşaat Alanı(m²)</p>
            </div>
          </div>
        </div>
        <!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item d-flex align-items-center w-100 h-100">
            <i class="bi bi-people color-pink flex-shrink-0"></i>
            <div>
              <span
                data-purecounter-start="0"
                data-purecounter-end="3000"
                data-purecounter-duration="3"
                class="purecounter"
              ></span>
              <p>İstihdam Edildi</p>
            </div>
          </div>
        </div>
        <!-- End Stats Item -->
      </div>
    </div>
  </section>
  <!-- End Stats Counter Section -->

  <!-- ICONBOX -->
  <div class="row-iconbox my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div
            class="themesflat-spacer clearfix"
            data-desktop="60"
            data-mobile="60"
            data-smobile="60"
          ></div>
          <div
            class="themesflat-headings style-1 text-center clearfix section-header"
          >
            <h2 class="heading">EN İYİ TERCİH</h2>
            <p>
              35 yıllık deneyimimiz ve 30'u aşkın başarıyla tamamlanmış
              projemizle, hayatınıza değer katıyor, güven ve kalite sunuyoruz.
            </p>
          </div>
          <div
            class="themesflat-spacer clearfix"
            data-desktop="42"
            data-mobile="35"
            data-smobile="35"
          ></div>
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-md-4">
          <div
            class="themesflat-content-box clearfix"
            data-margin="0 5px 0 5px"
            data-mobilemargin="0 0 0 0"
          >
            <div
              class="themesflat-icon-box icon-top align-center has-width w95 circle light-bg accent-color style-1 clearfix"
            >
              <div class="icon-wrap">
                <i class="autora-icon-quality"></i>
              </div>
              <div class="text-wrap">
                <h5 class="heading"><a href="#">KALİTE</a></h5>
                <div class="sep clearfix"></div>
                <p class="sub-heading">
                  DAĞ İnşaat Hizmetleri, güvenlik kültürümüzden ödün vermeden en
                  yüksek kalite standartlarını karşılamaya kararlıdır.
                </p>
              </div>
            </div>
            <!-- /.themesflat-icon-box -->
          </div>
          <!-- /.themesflat-content-box -->
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
          <div
            class="themesflat-spacer clearfix"
            data-desktop="0"
            data-mobile="0"
            data-smobile="35"
          ></div>
          <div
            class="themesflat-content-box clearfix"
            data-margin="0 5px 0 5px"
            data-mobilemargin="0 0 0 0"
          >
            <div
              class="themesflat-icon-box icon-top align-center has-width w95 circle light-bg accent-color style-1 clearfix"
            >
              <div class="icon-wrap">
                <i class="autora-icon-time"></i>
              </div>
              <div class="text-wrap">
                <h5 class="heading"><a href="#">ZAMAN</a></h5>
                <div class="sep clearfix"></div>
                <p class="sub-heading">
                  Şirketimizde müşterinin zamanına ve programına saygı duyuyoruz
                  ve projeleri her zaman zamanında ve modaya uygun şekilde
                  tamamlıyoruz.
                </p>
              </div>
            </div>
            <!-- /.themesflat-icon-box -->
          </div>
          <!-- /.themesflat-content-box -->
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
          <div
            class="themesflat-spacer clearfix"
            data-desktop="0"
            data-mobile="0"
            data-smobile="35"
          ></div>
          <div
            class="themesflat-content-box clearfix"
            data-margin="0 5px 0 5px"
            data-mobilemargin="0 0 0 0"
          >
            <div
              class="themesflat-icon-box icon-top align-center has-width w95 circle light-bg accent-color style-1 clearfix"
            >
              <div class="icon-wrap">
                <i class="autora-icon-author"></i>
              </div>
              <div class="text-wrap">
                <h5 class="heading"><a href="#">TECRÜBE</a></h5>
                <div class="sep clearfix"></div>
                <p class="sub-heading">
                  Söylendiği gibi pratik mükemmelleştirir. Yılların
                  tecrübesiyle, işin tam olarak sizin spesifikasyonlarınıza göre
                  yapılması konusunda bize güvenebilirsiniz.
                </p>
              </div>
            </div>
            <!-- /.themesflat-icon-box -->
          </div>
          <!-- /.themesflat-content-box -->
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <div class="row mt-5">
        <div class="col-md-12">
          <div
            class="themesflat-spacer clearfix"
            data-desktop="41"
            data-mobile="35"
            data-smobile="35"
          ></div>
          <div class="elm-button text-center">
            <a href="{% url 'contact' %}" class="themesflat-button bg-accent">İLETİŞİM</a>
          </div>
          <div
            class="themesflat-spacer clearfix"
            data-desktop="73"
            data-mobile="60"
            data-smobile="60"
          ></div>
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- END ICONBOX -->

  <!-- ======= Alt Services Section ======= -->
  <section id="alt-services" class="alt-services">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-around gy-4">
        <div
          class="col-lg-6 img-bg"
          style="background-image: url(static/img/alt-services.jpg)"
          data-aos="zoom-in"
          data-aos-delay="100"
        ></div>

        <div class="col-lg-5 d-flex flex-column justify-content-center">
          <h3>Geleceği İnşa Ederken Güven ve Kaliteyi Öncelikli Tutuyoruz.</h3>
          <p>
            Kaliteli işçilik, müşteri memnuniyeti ve sürdürülebilirlik
            prensipleriyle, depreme dayanıklı ve güvenli yapılar inşa ediyor,
            geleceği bugünden şekillendiriyoruz.
          </p>

          <div
            class="icon-box d-flex position-relative"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <i class="bi bi-house flex-shrink-0"></i>
            <div>
              <h4>
                <a href="" class="stretched-link">Depreme Dayanıklı Binalar</a>
              </h4>
              <p>
                Amacımız, sadece estetik değil, aynı zamanda depreme karşı
                maksimum güvenlik sağlayan yapılar inşa etmektir.
              </p>
            </div>
          </div>
          <!-- End Icon Box -->

          <div
            class="icon-box d-flex position-relative"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <i class="fa-solid fa-leaf flex-shrink-0"></i>
            <div>
              <h4>
                <a href="" class="stretched-link"
                  >Sürdürülebilirlik ve Çevre Dostu Tasarım</a
                >
              </h4>
              <p>
                Yapılarımızı inşa ederken, çevresel etkisini minimize etmeyi ve
                enerji verimliliğini maksimize etmeyi hedefliyoruz.
              </p>
            </div>
          </div>
          <!-- End Icon Box -->

          <div
            class="icon-box d-flex position-relative"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <i class="bi bi-clock flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">Zamanında Teslimat</a></h4>
              <p>
                Projelerimizi planlanan süre içerisinde tamamlayarak, müşteri
                memnuniyetini en üst seviyeye çıkarmayı amaçlıyoruz.
              </p>
            </div>
          </div>
          <!-- End Icon Box -->

          <div
            class="icon-box d-flex position-relative"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <i class="bi bi-award flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">Kalite ve İşçilik</a></h4>
              <p>
                İnşaat süreçlerimizde en yüksek kalite standartlarını
                kullanarak, dayanıklı ve uzun ömürlü binalar inşa etmeyi
                hedefliyoruz.
              </p>
            </div>
          </div>
          <!-- End Icon Box -->
        </div>
      </div>
    </div>
  </section>
  <!-- End Alt Services Section -->
</main>
<!-- End #main -->

{% endblock %}
