{% extends 'base.html' %} {% load static %} {% block title %} Dağ İnşaat |
Eserlerimiz {% endblock%} {% block content %}

<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div
    class="breadcrumbs d-flex align-items-center"
    style="background-image: url('static/img/breadcrumbs-bg.jpg')"
  >
    <div
      class="container position-relative d-flex flex-column align-items-center"
      data-aos="fade"
    >
      <h2>Eserlerimiz</h2>
      <ol>
        <li><a href="/">Ana Sayfa</a></li>
        <li>Eserlerimiz</li>
      </ol>
    </div>
  </div>
  <!-- End Breadcrumbs -->

  <!-- ======= Our Projects Section ======= -->
  <section id="projects" class="projects">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>ESERLERİMİZ</h2>
        <p>
          Dayanıklılığı estetikle buluşturan projelerimiz, sizin için sadece bir
          yapı değil, aynı zamanda bir yaşam alanı oluşturur.
        </p>
      </div>

      <div
        class="portfolio-isotope"
        data-portfolio-filter="*"
        data-portfolio-layout="masonry"
        data-portfolio-sort="original-order"
      >
        <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">Hepsi</li>
          <li data-filter=".filter-kartal">Kartal</li>
          <li data-filter=".filter-maltepe">Maltepe</li>
          <li data-filter=".filter-pendik">Pendik</li>
          <!-- <li data-filter=".filter-design">Design</li> -->
        </ul>
        <!-- End Projects Filters -->

        <div
          class="row gy-4 portfolio-container"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div
            class="row gy-4 portfolio-container"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            {% for project in projects %}
            <div
              class="col-lg-4 col-md-6 portfolio-item filter-{{ project.city_name.city|lower }}"
            >
              <div class="portfolio-content h-100">
                <img
                  src="{{ project.images.first.image.url }}"
                  class="img-fluid"
                  alt="{{project.title}}"
                />

                <div class="portfolio-info">
                  <h4>{{project.city_name.city }}</h4>
                  <p>{{ project.title }}</p>
                  {% for image in project.images.all %}
                  <a
                    href="{{ image.image.url }}"
                    title="{{ project.title }}"
                    data-gallery="portfolio-gallery-{{ project.title|slugify }}"
                    class="glightbox preview-link"
                  >
                    <i class="bi bi-zoom-in"></i>
                  </a>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- End Projects Container -->
      </div>
    </div>
  </section>
  <!-- End Our Projects Section -->
</main>
<!-- End #main -->

{% endblock %}
